[submodule "external/test-VSCode-external-base"]
	path = external/test-VSCode-external-base
	url = https://github.com/semanticart/minimum-viable-vscode-language-server-extension.git
[submodule "external/json_nlohmann"]
	path = external/json_nlohmann
	url = https://github.com/nlohmann/json.git
